# --------------------------------------------------------------------------
# TERRAFORM GITIGNORE (Live Coding Edition)
# --------------------------------------------------------------------------

# Local .terraform directories (plugins and modules)
**/.terraform/*

# .tfstate files (NUNCA SUBIR EL ESTADO A GITHUB)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Excluir archivos de variables (.tfvars)
*.tfvars
*.tfvars.json

# Ignorar archivos de override locales
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignorar archivos de planes de ejecución
*.tfplan

# Ignorar configuración de la CLI
.terraformrc
terraform.rc

# Ignorar el archivo de lock para la demo en directo
.terraform.lock.hcl
